In [2]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv("../data/지수산출.csv", encoding = "cp949")

In [6]:
data

          어린이집명   환경지수      접근지수    위험지수 CLUSTER_ID  CLUSTER_SI
0    BeBe스쿨어린이집  2.083  0.017813   0.000         54           9
1      e-다솔어린이집  2.167  0.018105   3.819         41           7
2      KB강서어린이집  1.750  0.016994   0.000         59           6
3    LG CNS어린이집  1.750  0.068531   0.000         21           3
4      강서구청어린이집  1.833  0.028882   0.000         17           4
..          ...    ...       ...     ...        ...         ...
240      소라어린이집  2.000  0.024590  15.795       강서화곡           4
241    아기천사어린이집  1.250  0.023305   0.707       강서화곡           4
242    아이세상어린이집  1.167  0.041039   0.000         소담           4
243     해오름어린이집  1.833  0.019725   0.000      마곡단지내           3
244     행복한어린이집  2.000  0.017602   0.000        다함께           4

[245 rows x 6 columns]

In [7]:
data_grouped = data.groupby(['CLUSTER_ID'])[["환경지수","접근지수","위험지수"]].mean().sort_values(by = ["위험지수"])

In [8]:
data_grouped

                환경지수      접근지수       위험지수
CLUSTER_ID
1           1.194500  0.029273   0.000000
4           2.874833  0.026152   0.000000
마곡단지내       1.861000  0.020762   0.000000
47          1.750333  0.017201   0.000000
50          1.666667  0.026763   0.000000
51          2.194667  0.044462   0.000000
56          1.650000  0.024566   0.000000
58          2.388667  0.032436   0.000000
59          1.514000  0.017518   0.000000
6           2.333250  0.033655   0.000000
60          2.821571  0.023162   0.000000
61          2.583000  0.025643   0.000000
62          2.437750  0.027646   0.000000
63          1.305667  0.022930   0.000000
9           1.107286  0.042513   0.000000
다함께         1.958500  0.018923   0.000000
39          2.229500  0.029892   0.000000
38          2.319333  0.019717   0.000000
42          1.916333  0.031361   0.000000
소담          1.208500  0.046215   0.000000
31          1.402833  0.018967   0.000000
21          1.861000  0.071219   0.000000
22          1.583200  0.021579   0.000000
13          2.166667  0.025486   0.000000
26          1.167000  0.041358   0.000000
17          1.812500  0.025054   0.000000
15          1.895875  0.040561   0.000000
32          2.666667  0.026905   0.000000
16          2.229250  0.018203   0.000000
46          2.416667  0.021484   0.283000
14          2.187500  0.031876   0.318250
23          2.517000  0.027871   0.339400
53          2.812250  0.017105   0.424500
28          1.937500  0.021153   0.848500
12          2.379778  0.020630   1.005333
19          1.953667  0.023727   1.100000
54          2.249889  0.015484   1.131333
29          2.250000  0.024449   1.188000
8           2.533400  0.021210   1.696800
10          2.152833  0.019874   1.697000
41          2.416857  0.022698   1.818571
44          2.516800  0.030929   2.121000
2           2.111167  0.025016   2.305000
18          2.500000  0.021806   2.715200
5           1.866800  0.024942   3.733400
강서화곡        1.770750  0.029848   4.479000
43          2.416500  0.024149   4.525000
7           1.771000  0.026423   6.034500
48          2.266800  0.023168   7.817600
36          1.666800  0.020881  15.995200

In [9]:
cluster = pd.DataFrame(list(data_grouped.index), columns = ["ID"])

In [10]:
# MinMax 스케일링
from sklearn.preprocessing import MinMaxScaler

minmax = MinMaxScaler()
scale_minmax = minmax.fit_transform(data_grouped)

scale_df = pd.DataFrame(scale_minmax, columns = ["환경지수","접근지수","위험지수"])
scale_df = pd.concat([cluster,scale_df],axis = 1)
scale_df = scale_df.set_index('ID')

In [11]:
scale_df["위험지수"] = - scale_df["위험지수"]

In [12]:
scale_df

           환경지수      접근지수      위험지수
ID
1      0.049342  0.247406 -0.000000
4      1.000000  0.191403 -0.000000
마곡단지내  0.426418  0.094694 -0.000000
47     0.363808  0.030804 -0.000000
50     0.316473  0.202368 -0.000000
51     0.615192  0.519928 -0.000000
56     0.307044  0.162944 -0.000000
58     0.724948  0.304156 -0.000000
59     0.230101  0.036483 -0.000000
6      0.693596  0.326013 -0.000000
60     0.969867  0.137753 -0.000000
61     0.834894  0.182267 -0.000000
62     0.752718  0.218211 -0.000000
63     0.112235  0.133600 -0.000000
9      0.000000  0.484960 -0.000000
다함께    0.481579  0.061704 -0.000000
39     0.634899  0.258511 -0.000000
38     0.685723  0.075951 -0.000000
42     0.457723  0.284853 -0.000000
소담     0.057263  0.551372 -0.000000
31     0.167208  0.062493 -0.000000
21     0.426418  1.000000 -0.000000
22     0.269251  0.109350 -0.000000
13     0.599351  0.179444 -0.000000
26     0.033784  0.464221 -0.000000
17     0.398979  0.171693 -0.000000
15     0.446149  0.449932 -0.000000
32     0.882229  0.204916 -0.000000
16     0.634758  0.048785 -0.000000
46     0.740790  0.107652 -0.017693
14     0.611137  0.294103 -0.019897
23     0.797554  0.222247 -0.021219
53     0.964593  0.029071 -0.026539
28     0.469698  0.101704 -0.053047
12     0.719920  0.092327 -0.062852
19     0.478845  0.147896 -0.068771
54     0.646434  0.000000 -0.070730
29     0.646497  0.160846 -0.074272
8      0.806832  0.102733 -0.106082
10     0.591524  0.078766 -0.106094
41     0.740897  0.129429 -0.113695
44     0.797441  0.277114 -0.132602
2      0.567951  0.171024 -0.144106
18     0.787936  0.113421 -0.169751
5      0.429699  0.169689 -0.233408
강서화곡   0.375359  0.257713 -0.280022
43     0.740695  0.155454 -0.282897
7      0.375500  0.196254 -0.377269
48     0.656002  0.137856 -0.488747
36     0.316548  0.096836 -1.000000

In [13]:
pd.DataFrame(scale_df.sum(axis = 1).sort_values(ascending = False), columns = ["Min-Max_총괄지수"])

       Min-Max_총괄지수
ID
21         1.426418
4          1.191403
51         1.135120
60         1.107620
32         1.087144
58         1.029104
6          1.019610
61         1.017160
23         0.998582
62         0.970929
53         0.967125
44         0.941952
15         0.896081
39         0.893410
14         0.885343
46         0.830749
8          0.803484
13         0.778794
38         0.761674
41         0.756632
12         0.749394
42         0.742576
29         0.733071
18         0.731606
16         0.683543
43         0.613252
소담         0.608634
2          0.594870
54         0.575705
17         0.570672
10         0.564196
19         0.557970
다함께        0.543283
마곡단지내      0.521112
50         0.518841
28         0.518355
26         0.498005
9          0.484960
56         0.469987
47         0.394612
22         0.378601
5          0.365981
강서화곡       0.353050
48         0.305111
1          0.296748
59         0.266584
63         0.245835
31         0.229701
7          0.194485
36        -0.586615